.player_box {
  float: right;

  @media screen and (max-width: 1024px) {
    float: none;
}
}
.player {
    background: #fff;
    position: fixed;
    top: 4px;
    margin-left: -512px;
    z-index: 101;


    @media screen and (max-width: 1024px) {
        margin-left: 0px;
    }
    
}

.track_name {
    padding: 4px;
    border: 1px solid silver;
    display: inline-block;
    vertical-align: middle;
    min-height: 31px;
    border-radius: 4px;
    width: 325px;
    position: relative;
    z-index: 2;
    cursor: pointer;

    @media screen and (max-width: 1024px) {
        width: 240px;
    }
}

.track_name_text {
    position: absolute;
    color: #000;
    z-index: 3;
    height: 22px;
    overflow: hidden;
}



.player_time_progress {
    position: absolute;
    background: #2196f3;
    width: 0%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.playbutton_play {
    border-radius: 4px;
    padding: 3px 8px;
    display: inline-block;
    vertical-align: middle;
    background: #2196f3;
    border: 0px;
    font-size: 18px;
    transition: 0.3s;
    color: #fff;
}

.player_button {
    border-radius: 4px;
    padding: 3px 8px;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background: #2196f3;
    border: 0px;
    color: #fff;
    transition: 0.3s;
}

.player_button:hover, .playbutton_play:hover {
    background: #1976d2;
    transition: 0.3s;
}


 