.player_box {
  float: right;
}
.player {
    background: #fff;
    position: fixed;
    top: 4px;
    margin-left: -461px;
    z-index: 101;
    
}

.track_name {
    padding: 4px;
    border: 1px solid silver;
    display: inline-block;
    vertical-align: middle;
    min-height: 30px;
    width: 340px;
    position: relative;
    z-index: 2;
}

.track_name_text {
    position: absolute;
    color: #000;
    z-index: 3;
}



.player_time_progress {
    position: absolute;
    background: #2196f3;
    width: 0%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.playbutton_play {
    border-radius: 4px;
    padding: 3px 8px;
    display: inline-block;
    vertical-align: middle;
    background: #2196f3;
    border: 0px;
    font-size: 18px;
    color: #fff;
}

.player_button {
    border-radius: 4px;
    padding: 3px 8px;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background: #2196f3;
    border: 0px;
    color: #fff;
}