
<div class="player_box">
  <div class="player">
    <button class="playbutton_play" (click)="playerPlay()">
      <span class="glyphicon glyphicon-play"
      [ngClass] = "{'glyphicon-pause' : !audio.paused}"></span>
    </button>
      <div class="track_name">
      <span class="player_time_progress"
       [ngStyle] = "{'width.%': progress}">
      </span>
      <span class="track_name_text">{{item.track.performer_name}} - {{item.track.name}}</span>
    </div>
      <button class="player_button" (click)='playerPrev()'><span class="glyphicon glyphicon-backward"></span></button>
      <button class="player_button" (click)="playerNext()"><span class="glyphicon glyphicon-forward"></span></button>
      <button class="player_button" (click)="shuffle()"><span class="glyphicon glyphicon-random"></span></button>
  </div>
</div>