.right_menu_box {
    display: inline-block;
    width: 320px;
    vertical-align: top;
    margin-top: 10px;

    @media screen and (max-width: 768px) {
       display:none;
    }
}

.right_menu {
    min-height: 124px;  

    padding: 4px;
}
.right_menu img {
    max-width: 100%;
}

