<div class="left_menu_block">
    <div class="left_menu">
      <div class="profile">
        <img class="profile_image" src="https://d2x5ku95bkycr3.cloudfront.net/App_Themes/Common/images/profile/0_200.png" alt="">
      <div class="profile_info">
        <span>Username</span>
      </div>
      </div>
      <ul>
        <li><a href="#"><span class="glyphicon glyphicon-user"><span class="link_text">My profile</span></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-star"><span class="link_text">Favorites</span></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-list"><span class="link_text">Playlists</span></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-trash"><span class="link_text">Blacklist</span></span></a></li>
        <li><a href="#" class="blue_color"><span class="glyphicon glyphicon-cloud"><span class="link_text">AudCloud</span></span></a></li>
      </ul>

     
    </div>
  </div>