<app-audiolist></app-audiolist>
<div class="scontainer">
  <div class="radio">

    <div>
      <p>
        Мы работаем над этим
      </p>
    </div>
    <div class="srow">
      <div class="s4 ssm12" *ngFor="let item of [1,2,23,4,5,6,7,8,9]">
        <div class="radio_item">
            <button class="play_button"><i class="fas fa-play"></i></button>
            <img src="http://nrj.ua/media/default/images/logo_v2.png" alt="NRJ">
            <span>NRJ</span>
        </div>
      </div>
    </div>

  </div>

</div>