<div class="right_menu_box">
    <div class="right_menu">
      <h3>Filters</h3>
      <div class="filer_buttons">
          <button class="nav_button">New</button>
          <button class="nav_button">Hot</button>
          <button class="nav_button">Random</button>
      </div>
      <hr>
      <h3>Genres</h3>
      <div class="filer_buttons genres">
          <button (click) = "paylistByGengre('pop')" class="nav_button">Pop</button>
          <button (click) = "paylistByGengre('rock')" class="nav_button">Rock</button>
          <button (click) = "paylistByGengre('Alternative')" class="nav_button">Alter</button>
          <button (click) = "paylistByGengre('Metal')" class="nav_button">Metal</button>
          <button (click) = "paylistByGengre('Hip Hop')" class="nav_button">Hip Hop</button>
          <button (click) = "paylistByGengre('Rap')" class="nav_button">Rap</button>
          <button (click) = "paylistByGengre('Indie')" class="nav_button">Indie</button>
          <button (click) = "paylistByGengre('Electro')" class="nav_button">Electro</button>
          <button (click) = "paylistByGengre('K-Pop')" class="nav_button">K-Pop</button>
          <button (click) = "paylistByGengre('Jazz')" class="nav_button">Jazz</button>
      </div>
    </div>
  </div>