.mine {
    display: inline-block;
    width: 73%;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.collection {
    margin-top: 6px;
    text-align: left;
}

.collection-item {
    display: inline-block;
    padding: 10px 4px;
    border: 1px solid #eee;
    margin: 4px 4px;
   transition: 0.3s;
    transition: 0.3s;
    background: #fff;
    width: 32%;
    text-align: left;


    
    @media screen and (max-width: 768px) {
        width: 97%;
        padding: 4px;
        margin: 2px;
    }

    
    
}

.collection-item:hover {
    transition: 0.3s;
}


.performer_name {
    display: inline-block;
    color: #2196f3;
    padding: 3px;
    margin: 0px;
    position: relative;
    font-weight: 600;
    font-size: 16px;
}

.track_name {
    display: block;
    vertical-align: middle;
    color: #000;
    padding: 3px;
    margin: 0px;
    position: relative;
}
.play_button {
    background: #2196f3;
    padding: 12px 8px 11px 17px;
    border-radius: 5px;
    margin: 6px;
    vertical-align: middle;
    color: #fff;
    cursor: pointer;
    font-size: 27px;
//    box-shadow: 0px 0px 5px #0f69b1;
     transition: 0.3s;

     @media screen and (max-width: 768px) {
        padding: 9px 5px 8px 14px;
    }

}

.play_button:hover {
    box-shadow: 0px 0px 5px #0d273c;
    transition: 0.3s;
    background: #1976d2;
}

.track_info {
    display: inline-block;
    vertical-align: middle;
    width: 75%;
}


.active {
    background: #e1f2ff;
}

    .video {
        display: inline-block;
        width: 24%;
        margin: 3px;


        @media screen and (max-width: 768px) {
            width: 47%;
        }
    }

    .video img {
        max-width: 100%;
        cursor: pointer;
    }

    .playlist_nav {
        margin: 12px 6px;
        width: 100%;
        text-align: left;

        
    @media screen and (max-width: 768px) {
        width: 97%;
    }

    }
    .clear{
         clear: both;
    }

    .playlist_nav_right {
        float: right;
    padding: 0px 6px;

    
    @media screen and (max-width: 768px) {
        float: none;
        display: inline-block;
    }
    }

    .playlist_button_panel {
        border-radius: 4px;
        padding: 3px 8px;
        font-size: 18px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        background: #2196f3;
        border: 0px;
        color: #fff;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

    .load_play_list {
        transform: rotate(90deg);
    }


    .like_track, .genre_track , .time_track {
        display: none;
    }
    .list {
        
        .collection-item {
        width: 100%;
        padding: 5px;
        margin: 2px 4px;
        }

        .track_name {
            display: inline-block;
            width: 35%;
        }
        .performer_name{
            width: 34%;

        }

        .play_button {
            padding: 3px 0px 2px 8px;
            font-size: 24px;
        }

        .track_info {
            width: 95%;
        }

        .time_track {
            width: 8%;
             display: inline-block;
             text-align: center;
             font-size: 14px;
             padding: 0px 10px;
             transition: 0.3s;
         }

       

        .genre_track {
           width: 12%;
            display: inline-block;
            text-align: center;
            font-size: 12px;
            padding: 0px 10px;
            cursor: pointer;
            transition: 0.3s;
        }

        .genre_track:hover {
            color: #1976d2;
            transition: 0.3s;
        }

        .like_track {
            color: #ccc;
            display: inline-block;
            text-align: center;
            width: 9%;
            font-size: 23px;
            padding: 0px 10px;
            cursor: pointer;
            transition: 0.3s;
            vertical-align: middle;
        }

    .liked {
        color: #e53935;
        transition: 0.6s;
        }
    }

    .modal_video {
        position: fixed;
        left: 0;
        text-align: center;
        top : 10%;
        z-index: 102;
        width: 100%;
    }

    .modal_video_shadow {
        content: '';
        background: rgba(0,0,0,0.9);
        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
        z-index: 101;
        left: 0;
        top: 0;
        cursor: pointer;
        }

    .modal_video_container  {
        cursor: pointer;
    }


    .loop {
        background: #e53935;
    }
    
