<div *ngIf="!playlist" class="lds-dual-ring"></div>

<div class="mine">
  <div class="playlist_nav" *ngIf="playlist">
      <button class="playlist_button_panel" *ngIf="my_status >= 2 " (click)="adminService.newTrack()"><i class="fas fa-plus-circle"></i></button>
      <button class="playlist_button_panel" *ngIf="my_status >= 2 " (click)="adminService.newPlaylist()"><i class="far fa-list-alt"></i></button>
      <button class="playlist_button_panel" (click)="darkMode()"><i class="fas fa-moon"></i></button>
      <button class="playlist_button_panel" (click)="darkMode()"><i class="fas fa-history"></i></button>
      <select name="filter" id="" class="select">
        <option value="rand">Random</option>
        <option value="rand">New</option>
        <option value="rand">Top</option>
      </select>
    
    <div class="playlist_nav_right">
        <button class="playlist_button_panel" (click)="listTo()"><span [ngClass] = "{'glyphicon-th-list' : !list}" class="glyphicon glyphicon-th glyphicon-th-list"></span></button>
        <button class="playlist_button_panel" (click)="shuffle()"><span class="glyphicon glyphicon-random"></span></button>
        <button class="playlist_button_panel" [ngClass] = "{'loop' : loop}" (click)="playerLoop()"><span class="glyphicon glyphicon-refresh"></span></button>
        <button class="playlist_button_panel" *ngIf="sid" (click)="loadFromPlayer()"><span class="glyphicon glyphicon-minus"></span></button>

    </div>
    <div class="clear"></div>
  </div>

  <app-add *ngIf="adminService.addpanel"></app-add>
  <app-addset *ngIf="adminService.addplaylist"></app-addset>

  <div class="collection" [class.list] = " list === !true" [class.dark] = " dark === true" >
    <div
    *ngFor="let i of playlist; let i_id = index;"
     class="collection-item"
     [ngClass] = "{'active' : i.isactive}"
    >
    <span class="play_button"  
    (click)="send_track(i)">

    
      <span *ngIf="!i.isactive" class="glyphicon glyphicon-play"></span>
      <span *ngIf="(i.isactive == true || i.paused_on_track == true)" class="glyphicon glyphicon-pause"></span>
    </span>

    <span *ngIf = "type == 'room'"  class="play_button"  
    (click)="addtoData(i)">
      <span class="glyphicon glyphicon-plus">
      </span>
    </span>

    <div class="track_info">
        <span class="track_name">{{i.name}}</span>
        <span class="performer_name" >
          <a *ngIf ="i.performer_url" [routerLink]="['/performer', i.performer_url]">{{i.performer_name}}</a>
          <a *ngIf ="!i.performer_url">{{i.performer_name}}</a>
          </span>
          <span class="time_track">{{i.duration | time }}</span>
          <a *ngIf = "i.genre" [routerLink]="['/search']" [queryParams]="{ g: i.genre }" class="genre_track" >{{i.genre}}</a>
          <!-- <span class="like_track hover_hide"><span class="glyphicon glyphicon-list-alt"></span></span> -->
          <span  (click)="removeTrack(i,i_id,i.isactive)" *ngIf="sid"  class="like_track hover_hide"><span class="glyphicon glyphicon-remove"></span></span>
          <span  (click)="getMyPlaylists(i)" *ngIf="sid"  class="like_track"><i class="far fa-list-alt"></i></span>
          <span  (click)="likeTrack(i)"  [ngClass] = "{'liked' : i.liked}" class="like_track"><span class="glyphicon glyphicon-heart"></span></span>
          <button (click)="popOverMobileTrack = i" class="mobile_track_button"><i class="fas fa-ellipsis-v"></i></button>
     </div>
    </div>
  </div>


  <div *ngIf = "bandurl" class="video_blocks">
<!-- <div *ngIf="videoUrl" class="modal_box">
    <div class="modal_video_shadow" (click)="showVideo('')"></div>
    <div class="modal_video" (click)="showVideo('')">
        <div class="modal_video_container">
      <iframe [src]="videoUrl | safe" width="900" height="510"  frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div> -->
  </div>

</div>



<div class="over" *ngIf="popOverMobileTrack">
  <div class="over_content">
    <div class="div">
        <span class="name">{{popOverMobileTrack.name}}</span>
        <span class="performer">{{popOverMobileTrack.performer_name}}</span>
    </div>
    
      <button (click)="likeTrack(popOverMobileTrack);closeMobilePopOver()" [ngClass]="{'saved' : popOverMobileTrack.liked }">Save</button>
      <a  href="{{popOverMobileTrack.url}}" download (click)="closeMobilePopOver()"><button>Download</button></a>
      <button>Remove</button>
  </div>
 <div class="close" (click)="closeMobilePopOver()"><i class="far fa-times-circle"></i></div>
</div>


<div class="over_my_playlists" *ngIf="overMyPlaylists">
  <div class="over_my_playlists_content">
    <ul>
      <li *ngFor="let item of overMyPlaylists">
        <button (click)="set_playlist_track(overMyPlaylists.track,item.id)"  class="edit_playlist_button" *ngIf="!item.active">Добавить</button>
        <button (click)="set_playlist_track(overMyPlaylists.track,item.id)" class="edit_playlist_button remove" *ngIf="item.active">Убрать</button>
        {{item.name}}
      </li>
    </ul>
    <button>Создать Плейлист</button>
    <div class="close" (click)="overMyPlaylists = ''"><i class="far fa-times-circle"></i></div>
  </div>
</div>
