.player_box {
    float: right;
  
    @media screen and (max-width: 1024px) {
      float: none;
  }
  }
  .player {
      position: fixed;
      top: 9px;
      margin-left: -437px;
      z-index: 101;
  
  
      @media screen and (max-width: 1024px) {
          margin-left: 0px;
          bottom: 0;
          top: auto;
          width: 100%;
          background: #fff;
          padding: 4px;
      }
      
  }
  
  .player_track_name {
      padding: 4px;
      text-align: left;
      border: 1px solid silver;
      display: inline-block;
      vertical-align: middle;
      min-height: 31px;
      border-radius: 4px;
      width: 325px;
      position: relative;
      z-index: 2;
      cursor: pointer;
  
      @media screen and (max-width: 768px) {
          width: 99%;
          height: 30x;
          margin: 4px 0px;
          border-radius: 0px;
          margin: auto;
          display: block;
          margin: 8px 1px;
      }
  }
  
  .track_name_text {
      position: absolute;
      color: #000;
      z-index: 3;
      height: 22px;
      overflow: hidden;
    
      @media screen and (max-width: 768px) {
   
          line-height: 24px;
          vertical-align: middle;
    
      }
  }
  
  .player_time_progress {
      position: absolute;
      background: #2196f3;
      width: 0%;
      height: 100%;
      left: 0px;
      top: 0px;
      z-index: 1;
  }
  
  .playbutton_play {
      border-radius: 4px;
      padding: 3px 8px;
      display: inline-block;
      vertical-align: middle;
      background: #2196f3;
      border: 0px;
      font-size: 18px;
      transition: 0.3s;
      color: #fff;
  
      @media screen and (max-width: 768px) {
          width: 31%;
          height: 40px;
        border-radius: 0px;
        font-size: 30px;
        padding: 0px;
      }
  }
  
  .player_button {
      border-radius: 4px;
      padding: 3px 8px;
      font-size: 18px;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      background: #2196f3;
      border: 0px;
      color: #fff;
      transition: 0.3s;
  
      @media screen and (max-width: 768px) {
          width: 33%;
          height: 40px;
        border-radius: 0px;
        font-size: 24px;
        padding: 0px;
      }
  }
  
  .player_button:hover, .playbutton_play:hover {
      background: #1976d2;
      transition: 0.3s;
  }


  .mine {
    display: inline-block;
    width: 100%;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.collection {
    margin-top: 6px;
    text-align: left;
    
}

.collection-item {
    display: inline-block;
    padding: 10px 4px;
    border: 1px solid #eee;
    margin: 4px 4px;
   transition: 0.3s;
    transition: 0.3s;
    background: #fff;
    width: 32%;
    text-align: left;
 


    @media screen and (max-width: 768px) {
        width: 97%;
        padding: 4px;
        margin: -2px 2px;
        overflow: hidden;
    }

    
    
}

.collection-item:hover {
    transition: 0.3s;
}


.performer_name {
    display: inline-block;
    color: #2196f3;
    padding: 3px;
    margin: 0px;
    position: relative;
    font-weight: 600;
    font-size: 16px;
}

.track_name {
    display: block;
    vertical-align: middle;
    color: #000;
    padding: 3px;
    margin: 0px;
    position: relative;
}
.play_button {
    background: #2196f3;
    padding: 12px 8px 11px 17px;
    border-radius: 5px;
    margin: 6px;
    vertical-align: middle;
    color: #fff;
    cursor: pointer;
    font-size: 27px;
//    box-shadow: 0px 0px 5px #0f69b1;
     transition: 0.3s;

     @media screen and (max-width: 768px) {
        padding: 9px 3px 8px 10px;
        font-size: 20px;
    }

}

.mobile_track_button {
    display: none; 
    outline: none;
    @media screen and (max-width: 768px) { 
        display: inline;
        background: none;
        position: absolute;
        right: 0px;
        top: 23%;
        border: 0px;
        font-size: 20px;
        color: #777;

    }
}

.play_button:hover {
    box-shadow: 0px 0px 5px #0d273c;
    transition: 0.3s;
    background: #1976d2;
}

.track_info {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    position: relative;
}

.hover_hide {
    // visibility: hidden;
    transition: 0.3s;
}


.track_info:hover .hover_hide {
    visibility: initial;
    transition: 0.3s;
    // display: inline !important;
}

.buttons_track_panel {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    right: 0px;
    text-align: right;

}



.active {
    background: #e1f2ff;

 
}

.active_player {
    background: #e53935;
}

    .video {
        display: inline-block;
        width: 24%;
        margin: 3px;


        @media screen and (max-width: 768px) {
            width: 47%;
        }
    }

    .video img {
        max-width: 100%;
        cursor: pointer;
    }

    .playlist_nav {
        margin: 12px 6px;
        width: 100%;
        text-align: left;

        
    @media screen and (max-width: 768px) {
        width: 97%;
        display: none;
    }

    }
    .clear{
         clear: both;
    }

    .playlist_nav_right {
        float: right;
    padding: 0px 6px;

    
    @media screen and (max-width: 768px) {
        float: none;
        display: inline-block;
    }
    }

    .playlist_button_panel {
        border-radius: 4px;
        padding: 3px 8px;
        font-size: 18px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        background: #2196f3;
        border: 0px;
        color: #fff;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

    .load_play_list {
        transform: rotate(90deg);
    }


    .like_track, .genre_track , .time_track {
        display: none;
    }
    .list {

        @media screen  and (min-width: 490px){ 
        
        .collection-item {
        width: 100%;
        padding: 5px;
        margin: 2px 4px;
        }

        .track_name {
            display: inline-block;
            width: 33%;
        }


        .performer_name{
            width: 25%;

        }

        .play_button {
            padding: 3px 0px 2px 8px;
            font-size: 24px;
        }

        .track_info {
            width: 95%;
        }

        .time_track {
            width: 7%;
             display: inline-block;
             text-align: center;
             font-size: 14px;
             padding: 0px 10px;
             transition: 0.3s;
         }

       

        .genre_track {
           width: 12%;
            display: inline-block;
            text-align: center;
            font-size: 12px;
            padding: 0px 10px;
            cursor: pointer;
            transition: 0.3s;
        }

        .genre_track:hover {
            color: #1976d2;
            transition: 0.3s;
        }

        .like_track {
            color: #ccc;
            display: inline-block;
            text-align: center;
            font-size: 23px;
            padding: 0px 10px;
            cursor: pointer;
            transition: 0.3s;
            vertical-align: middle;

            &:hover {
                color: #2196f3;
                transition: 0.3s;
            }
        }

    .liked {
        color: #e53935;
        transition: 0.6s;

        &:hover{
            color: #e53935;
        }
        }

    }
    
    }


    .dark {
        .collection-item {
            background: #292e34;
            color: #fff;
            border: 1px solid #000;
        }

        .track_name {
            color: #fff;
        }

        .player_track_name {
            color: #fff;
        }
    }

    .modal_video {
        position: fixed;
        left: 0;
        text-align: center;
        top : 10%;
        z-index: 102;
        width: 100%;
    }

    .modal_video_shadow {
        content: '';
        background: rgba(0,0,0,0.9);
        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
        z-index: 101;
        left: 0;
        top: 0;
        cursor: pointer;
        }

    .modal_video_container  {
        cursor: pointer;
    }


    .loop {
        background: #e53935;
    }




    .over {
        display: none;
        transition: 0.2s;
        z-index: 400;
        

        .over_content {
            background: #fff;
            box-shadow: 0px 0px 4px #292e34;
            padding:10px 6px;
            max-width: 400px;
            margin: auto;
            transition: 0.2s;
            position: relative;
            z-index: 400;
            

            span {
                display: block;
                text-align: left;
                padding: 0px 4px;
                font-size: 16px;
                padding-left: 19px;
            }
            
            .performer {
                color: #428bca;
                font-size: 18px;
            }

            button {
                width: 33%;
                padding: 4px 8px;
                background: #2196f3;
                color: #fff;
                font-size: 16px;
                border: 0px;
                border-radius: 3px;
                // margin: 0px 4px;
                margin-top: 10px;
              
            }

            .saved {
                background: #e53935;
            }



        }

        .close {
            position: absolute;
            right: 17px;
            top: 17px;
            color: #000;
            font-size: 32px;
            z-index: 401;
        }
  
        @media screen and (max-width: 768px) {
            display: block;
            z-index: 1002;
            position: fixed;
            top:25%;
            width: 100%;
            padding: 8px;
            left: 0px;
           
        
        }

        
    }

    .over::before {
        content: "";
        position: fixed;
        background: rgba(0,0,0,0.3);
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        z-index: 300;
    }
    

  .select {
    vertical-align: bottom;
    padding: 6px 14px;
    border-radius: 3px;
    border: 0px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background: #2196f3;
    cursor: pointer;
  }

  option {
    color: #fff;
    font-size: 16px;
    padding: 6px;
    display: block;
    font-weight: 400;
    cursor: pointer;
    background: #64afea;

}




.over_my_playlists {
    display: block;
    transition: 0.2s;
    z-index: 400;
    z-index: 1002;
    position: fixed;
    top:10%;
    width: 100%;
    padding: 8px;
    left: 0px;
    
    .over_my_playlists_content {
        background: #fff;
        box-shadow: 0px 0px 3px #292e34;
        padding:10px 6px;
        max-width: 400px;
        margin: auto;
        transition: 0.2s;
        position: relative;
        z-index: 400;
        min-height: 150px;
        border-radius: 4px;



        ul {
            list-style: none;
            text-align: left;
            padding-left: 5px;

            li {
                margin: 5px 0px;

            }
        }
        
     

        button {
            padding: 4px 8px;
            background: #2196f3;
            color: #fff;
            font-size: 16px;
            border: 0px;
            border-radius: 3px;
            // margin: 0px 4px;
            margin-top: 10px;
            margin-right: 10px;
            min-width: 120px;
            text-align: center;
          
        }

        .remove {
            background: #e53935;
        }



    }

    .close {
        position: absolute;
        right: 17px;
        top: 17px;
        color: #000;
        font-size: 32px;
        z-index: 401;
    }

    @media screen and (max-width: 768px) {
     
       
    
    }

    
}

.over_my_playlists::before {
    content: "";
    position: fixed;
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 300;
}

.hide_button {
    display: none !important;
    transition: 0.3s;
   }

