
<div *ngIf="!playlist" class="lds-dual-ring"></div>

<div class="mine">


    <style>#M403150ScriptRootC668348 {min-height: 300px;}</style>
    <!-- Composite Start -->
    <div id="M403150ScriptRootC668348" *ngIf="!sid">
            <div id="M403150PreloadC668348">
            Загрузка...    </div>

        </div>
    <!-- Composite End -->



  <div class="playlist_nav" *ngIf="playlist">
    <button class="playlist_button_panel" *ngIf="my_status >= 2 " (click)="adminService.newTrack()">
      <i class="fas fa-plus-circle"></i>
    </button>
    <button class="playlist_button_panel" (click)="darkMode()">
      <i class="fas fa-moon"></i>
    </button>
    <div class="playlist_nav_right">
      <button class="playlist_button_panel" (click)="listTo()">
        <span [ngClass]="{'glyphicon-th-list' : !list}" class="glyphicon glyphicon-th glyphicon-th-list"></span>
      </button>
      <button class="playlist_button_panel" (click)="shuffle()">
        <span class="glyphicon glyphicon-random"></span>
      </button>

    </div>
    <div class="clear"></div>
  </div>


  <app-add *ngIf="adminService.addpanel"></app-add>
  <app-addset *ngIf="adminService.addplaylist"></app-addset>

  <div class="collection" [class.list]=" list === !true" [class.dark]=" dark === true">
    <div *ngFor="let i of playlist; let i_id = index;" class="collection-item" [ngClass]="{'active' : i.isactive}">
      <span class="play_button" (click)="send_track(i)">


        <span *ngIf="!i.isactive" class="glyphicon glyphicon-play"></span>
        <span *ngIf="(i.isactive == true || i.paused_on_track == true)" class="glyphicon glyphicon-pause"></span>
      </span>

      <span *ngIf="type == 'room'" class="play_button" (click)="addtoData(i)">
        <span class="glyphicon glyphicon-plus">
        </span>
      </span>

      <div class="track_info">
        <span class="track_name">{{i.name}} <span *ngIf="my_status > 1 && i.fex" class="fexnet">FEX</span></span>
        <span class="performer_name">
          <a *ngIf="i.performer_url" [routerLink]="['/performer', i.performer_url]">{{i.performer_name}}</a>
          <a *ngIf="!i.performer_url">{{i.performer_name}}</a>
        </span>
        <span class="time_track">{{i.duration | time }}</span>
        <a *ngIf="i.genre && !i.more_buttons || !sid" [routerLink]="['/search']" [queryParams]="{ g: i.genre }" class="genre_track">{{i.genre}}</a>
        <div class="buttons_track_panel">
          <span (click)="showVideo(i)" *ngIf="i.youtube_code && i.youtube_code != 'null'" class="like_track">
            <i class="fab fa-youtube"></i>
          </span>
          <span (click)="likeTrack(i)" [ngClass]="{'liked' : i.liked}" class="like_track">
            <span class="glyphicon glyphicon-heart"></span>
          </span>
          <span (click)="downloadTrack(i)" class="like_track">
            <i class="fas fa-download"></i>
          </span>
          <span [ngClass]="{'hide_button' : !i.more_buttons}" (click)="reportTrack(i)" class="like_track">
            <i class="fas fa-flag"></i>
          </span>
          <span [ngClass]="{'hide_button' : !i.more_buttons}" (click)="getMyPlaylists(i)" *ngIf="sid" class="like_track">
            <i class="far fa-list-alt"></i>
          </span>
          <span [ngClass]="{'hide_button' : !i.more_buttons}" (click)="removeTrack(i,i_id,i.isactive)" *ngIf="sid" class="like_track">
            <i class="fas fa-eye-slash"></i>
          </span>
          <span [ngClass]="{'hide_button' : !i.more_buttons}" (click)="edit_track_obj = i" *ngIf="my_status == 3" class="like_track">
            <i class="fas fa-edit"></i>
          </span>
          <span [ngClass]="{'hide_button' : !i.more_buttons}" (click)="infoTrack(i)" class="like_track">
            <i class="fas fa-info-circle"></i>
          </span>
          <span [ngClass]="{'hide_button' : !i.more_buttons}" (click)="shareTrack(i)" class="like_track">
            <i class="fas fa-share-alt"></i>
          </span>
          <span (click)="morebuttons(i)" class="like_track">
            <i class="fas fa-ellipsis-v"></i>
          </span>
        </div>
        <button (click)="popOverMobileTrack = i" class="mobile_track_button">
          <i class="fas fa-ellipsis-v"></i>
        </button>
      </div>
    </div>
  </div>



  <div *ngIf="videoUrl" class="modal_box">
    <div class="modal_video_shadow" (click)="showVideo('')"></div>
    <div class="modal_video" (click)="showVideo('')">
      <div class="modal_video_container">
        <iframe [src]="videoUrl | safe" width="900" height="510" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>




<div class="over" *ngIf="popOverMobileTrack" (click)="closeMobilePopOver()">
  <div class="over_content">
    <div class="div">
      <span class="name">{{popOverMobileTrack.name}}</span>
      <a  [routerLink]="['/performer', popOverMobileTrack.performer_url]">
      <span class="performer">{{popOverMobileTrack.performer_name}}</span>
    </a>
    </div>

    <button *ngIf="sid" (click)="likeTrack(popOverMobileTrack);closeMobilePopOver()" [ngClass]="{'saved' : popOverMobileTrack.liked }"> {{popOverMobileTrack.liked ? 'Dislike' : 'Like'}}</button>
    <a href="{{popOverMobileTrack.url}}" download (click)="closeMobilePopOver(); openNewWindowMobile()">
      <button>Скачать</button>
    </a>
    <button (click)="shareTrack(popOverMobileTrack)">Поделиться</button>
  </div>
  <div class="close" (click)="closeMobilePopOver()">
   <span class="glyphicon glyphicon-remove-circle"></span>
  </div>
</div>


<div class="over_my_playlists" *ngIf="overMyPlaylists">
  <div class="over_my_playlists_content">
    <ul>
      <li *ngFor="let item of overMyPlaylists; let i = index">
        <button (click)="set_playlist_track(overMyPlaylists.track,item.id,i)" [ngClass]="{'remove' : item.active }" class="edit_playlist_button">
          <span *ngIf="item.active">Убрать</span>
          <span *ngIf="!item.active">Добавить</span>
        </button>
        {{item.name}}
      </li>
    </ul>
    <button>Создать Плейлист</button>
    <div class="close" (click)="overMyPlaylists = ''">
      <i class="far fa-times-circle"></i>
    </div>
  </div>
</div>




<div class="over_edit_track" *ngIf="edit_track_obj">
  <div class="over_edit_track_content">
      <div class="close" (click)="edit_track_obj = ''">
          <i class="far fa-times-circle"></i>
        </div>
    <form  (ngSubmit)="sendEditTrack(editTrack); edit_track_obj = '';"   #editTrack="ngForm">
        <div class="srow">
            <div class="s3"><span class="td_name" >ID</span></div>
            <div class="s9">
              <input type="text" placeholder="ID" readonly name="id" [ngModel]="edit_track_obj.id">
            </div>
          </div>
      <div class="srow">
        <div class="s3"><span class="td_name">Исполнитель</span></div>
        <div class="s9">
          <input type="text" placeholder="Исполнитель" autocomplete="off" name="performer_name" [ngModel]="edit_track_obj.performer_name">
        </div>
      </div>
      <div class="srow">
        <div class="s3"><span class="td_name">Песня</span></div>
        <div class="s9">
          <input type="text" placeholder="Песня" autocomplete="off" name="name" [ngModel]="edit_track_obj.name">
        </div>
      </div>
      <div class="srow">
          <div class="s3"><span class="td_name">URL ID</span></div>
          <div class="s9">
            <input type="text" placeholder="URL" name="url" [ngModel]="edit_track_obj.url">
          </div>
        </div>
      <div class="srow">
        <div class="s3"><span class="td_name">YouTube</span></div>
        <div class="s9">
          <input type="text" placeholder="YouTube" autocomplete="off"  name="youtube_code" [ngModel]="edit_track_obj.youtube_code">
        </div>
      </div>
      <div class="srow">
        <div class="s3"><span class="td_name">Жанр</span></div>
        <div class="s9">
          <input type="text" placeholder="Жанр" name="genre" [ngModel]="edit_track_obj.genre">
        </div>
      </div>
      <div class="srow">
        <div class="s3"><span class="td_name">Длительность</span></div>
        <div class="s9">
          <input type="text" placeholder="Длительность" name="duration" [ngModel]="edit_track_obj.duration">
        </div>
      </div>
      <div class="srow">
          <div class="s3"><span class="td_name">Аудит</span></div>
          <div class="s9">
            <input type="text" placeholder="Аудит" name="auditions" [ngModel]="edit_track_obj.auditions">
          </div>
        </div>
      <input type="submit">
    </form>
  </div>
</div>


<div class="over_my_playlists" *ngIf="overSharePanel">
    <div class="over_my_playlists_content">
        <div class="close" (click)="overSharePanel = ''">
            <i class="far fa-times-circle"></i>
          </div>
          <div class="div">
            <span>{{overSharePanel.performer_name}} - {{overSharePanel.name}}</span>
          </div>
          <input class="shareInput" type="text" [value]="overSharePanel.full_url">
    </div>
  </div>