<div class="srow">
  <div class="s6 ssm12">
    <h1>Sign Up</h1>
    <form (ngSubmit)="signUp(); forma.reset();" #forma="ngForm"  class="login_form">
      <input type="text" placeholder="Email" [(ngModel)]="email" name="email" required email>
      <input type="password" placeholder="Password" name="password" [(ngModel)]="password" required>
      <input type="password" placeholder="Confirm password" name="password2" [(ngModel)]="password2" required>
      <input class="submit" type="submit" value="Sign Up" [disabled]="!forma.valid">
      <a routerLink="/login">Sign In</a>
    </form>
  </div>
</div>