.login_form {
    margin: 20px 0px;
    input {
        display: block;
        height: 40px;
        padding: 4px;
        width: 50%;
        margin: 10px auto;
        border: 1px solid #fff;
        outline: none;
        border-bottom: 1px solid #ccc;

        @media screen and (max-width:768px) {
            width: 75%;
        }
    }

    @media screen and (max-width:768px) {
        margin: 0px;
    }
}

input.ng-invalid.ng-touched{
    border-bottom: 1px solid #a81a1a;
    box-shadow: 0px 5px 5px #e2a0a0;

    &:focus {
            border: 1px solid #fff;
    }
}

input.ng-valid.ng-touched{
    border-bottom: 1px solid green;

    &:focus {
            border: 1px solid #fff;
    }
}

