<app-audiolist [playlist] = 'audiolist' ></app-audiolist>
<div class="row">
  <div class="s6">
    <h1>Sign In</h1>
    <form (ngSubmit)="login(); forma.reset();" #forma="ngForm"  class="login_form">
      <input type="text" placeholder="Email" [(ngModel)]="email" name="email" required email>
      <input type="password" placeholder="Password" name="password" [(ngModel)]="password" required>
      <input class="submit" type="submit" value="Enter" [disabled]="!forma.valid">
      <a routerLink="/registration">Registration</a>
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </form>
    <h1>For test</h1>
    <p>Username : <i>admin@audline.net</i></p>
    <p>Password : <i>nimda321</i></p>
  </div>
</div>