<app-audiolist [playlist] = 'audiolist' ></app-audiolist>
<div class="srow">
  <div class="s6 ssm12">
    <h1>Sign In</h1>
    <form (ngSubmit)="login(); forma.reset();" #forma="ngForm"  class="login_form">
      <input type="text" placeholder="Email" [(ngModel)]="email" name="email" required email>
      <input type="password" placeholder="Password" name="password" [(ngModel)]="password" required>
      <input class="submit" type="submit" value="Enter" [disabled]="!forma.valid">
      <a routerLink="/registration">Registration</a>
    </form> 
  </div>
</div>