<nav>
  <div class="logo"><a routerLink="/">Audline</a></div>
  <ul>
    <li><a routerLink="/">Audio</a></li>
    <li><a routerLink="/bands">Playlists</a></li>
    <li><a routerLink="/bands">Bands</a></li>
    <li><a routerLink="/video">Video</a></li>
    <li><a routerLink="/bands">Rooms</a></li>
  </ul>
  <span class="form">
    <input class="search_form" type="text" name="search" id="search_input" placeholder="Search...">
    <button class="button_search"><span class="glyphicon glyphicon-search"></span></button>
  </span>
  <audio id="player"></audio>
</nav>