<nav>
  <div class="container">
    <div class="row">
      <div class="s12">
        <div class="nav">
            <div class="logo"><a routerLink="/">Audline</a></div>
            <ul>
              <li><a routerLink="/sets">Playlists</a></li>
              <!-- <li><a routerLink="/bands">Bands</a></li> -->
              <li><a routerLink="/video">Video</a></li>
              <!-- <li><a routerLink="/rooms">Rooms</a></li> -->
              <li><a routerLink="/streams">Stream</a></li>
              <li *ngIf="!sid"><a routerLink="/login">Login</a></li>
              <li *ngIf="sid"><a routerLink="/profile">Room</a></li>
            </ul>
            <form class="form" (ngSubmint)="search_form()">
              <input class="search_form" autocomplete="off" [(ngModel)]="search" type="text" name="search" id="search_input" placeholder="Search...">
              <button class="button_search" (click)="search_form(search)"><span class="glyphicon glyphicon-search"></span></button>
            </form>
            <audio id="player"></audio>
        </div>
      </div>
    </div>
  </div>
</nav>