nav {
    background: #fff;
    position: fixed;
    top: 0px;
   width: 1200px;
    padding: 0px;
    margin: 0px;
    z-index: 100;
    border-bottom: 2px solid #2196f3;
}
nav li {
    display: inline-block;
    padding: 10px 15px;

}

nav ul {
    margin: 0px;
    display: inline-block;
    padding-left: 15px;
}

.search_form {
    transition: 0.3s;
    padding: 4px;
}

.logo {
    display: inline-block;
    font-size: 24px;
    color: #e53935;
}

.logo a {
    color: #e53935;
    font-weight: 600;
}

form{
    display: inline-block;
}

.button_search {
    padding: 5px 8px;
    margin-left: -5px;
    border: 1px solid #999;
    color: #fff;
    border-left: 0px;
    transition: 0.3s;
    background: #2196f3;
}
