nav {
    background: #fff;
    position: fixed;
    width: 100%;
    top: 0px;
    padding: 4px;
    box-shadow: 0px 0px 4px #777;
    z-index: 100;
    min-height: 50px;
    padding: 5px;
}

.logo {
    font-size: 23px;
     color: #e53935;
     font-weight: bold;
     padding: 4px;  
     display: block;
     text-align: left;
}

.form {
    position: relative;
    text-align: left;
}

.search_form {
    width: 100%;
    position: absolute;
    border-radius: 4px;
    border: 1px solid #999;
    padding: 4px;
    top: 5px;

    @media screen  and (max-width:768px){
        position: relative;
    }

}

.button_search {
    float: right;
    color: #000;
    font-size: 15px;
    z-index: 2;
    position: absolute;
    right: 0;
    background: no-repeat;
    border: 0px;
    top: 7px;
    
    
}

ul {
    padding-left: 0px;
    margin: 0px;
    padding-left: 10px;

    li a{
        width: 100%;
        padding: 4px 6px;
        color: #000;
        font-weight: 400;
        font-size: 18px;
    }

} 