<div class="right_menu_box">
    <div class="right_menu">
      <img src="{{bandinfo.img}}" alt="{{bandinfo.name}}">
      <h3>{{bandinfo.name}}</h3>
      <p>{{bandinfo.text}}</p>
      <ul>
        <li>Genre: {{bandinfo.genre}}</li>
        <li>Country:  {{bandinfo.country}}</li>
      </ul>
    <div class="video_blocks">
      <div class="video">
        <img src="https://img.youtube.com/vi/AFShDQEDpwA/0.jpg" alt="">
      </div>
      <div class="video">
        <img src="https://img.youtube.com/vi/seFhoLRJziY/0.jpg" alt="">
      </div>
      <div class="video">
        <img src="https://img.youtube.com/vi/EQcA_2pcU3U/0.jpg" alt="">
      </div>
    </div>
    </div>
  </div>