.right_menu_box {
    display: inline-block;
    max-width: 320px;
    vertical-align: top;
    margin-top: 10px;
}

.right_menu {
    min-height: 124px;  

    padding: 4px;
}
.right_menu img {
    max-width: 100%;
}

