
.container {
    max-width: 1200px;
    margin:50px auto;
    font-family: 'Roboto', sans-serif;
    padding: 0px;

    @media screen and (max-width: 768px) {
        margin-bottom: 50px;
    }
}


body {
    background: #f8f8f8;
}
