<div class="contet">
  Ресурс audline.net является общедоступным для всех зарегистрированных и не зарегистрированных пользователей. Администрация
  ресурса не осуществляет контроль и не может отвечать за размещаемую на портале prayingforpapers.com информацию. Вместе
  с тем, Администрация ресурса резко отрицательно относится к нарушению авторских прав на территории audline.com. Поэтому,
  если Вы являетесь правообладателем исключительных имущественных прав, включая:

  <br> - исключительное право на воспроизведение
  <br> - исключительное право на распространение
  <br> - исключительное право на публичный показ
  <br> - исключительное право на доведение до всеобщего сведения
  <br>
  <br> Ваши права тем или иным образом нарушаются с использованием данного ресурса, мы просим незамедлительно сообщать в службу
  рассмотрения жалоб письмом (в электронном виде) с корректно и максимально полно заполненными данными. Ваше сообщение в
  обязательном порядке будет рассмотрено; Вам поступит сообщение о результатах проведенных действий, относительно предполагаемого
  нарушения исключительных прав. Жалоба будет рассмотрена в срок, не превышающий 5 (пяти) рабочих дней. Согласно действующим
  нормам законодательства РФ администрация готова рассмотреть спорные вопросы в рамках досудебного (претензионного или иного)
  порядка урегулирования.
  <br> ВНИМАНИЕ! Мы не осуществляем контроль над добавлением mp3 в каталог, Мы являемся поисковой машиной, которая ищет mp3 файлы
  по всему интернету. Однако мы в любом случае рассмотрим все Ваши корректно сформулированные запросы относительно ссылок
  на информацию, нарушающую Ваши права.
  <br> В письме вам необходимо предоставить следующие даннные:
  <br> 1. Данные о продукте:
  <br> 1.1. Название продукта - русское и английское (в случае наличия английской версии).
  <br> 1.2. Официальная страница продукта в Интернете (в случае наличия).
  <br> 1.3. Номер, присвоенный продукту по государственному реестру.
  <br> 1.4. Для Юридического Лица / Правообладателя электронных изданий/программ для ЭВМ/баз данных - Копия документа о государственной
  регистрации.
  <br> Для Юридического Лица / Правообладателя кино- и видеоматериалов - Прокатное удостоверение (копия).
  <br> 2. Данные о правообладателе:
  <br> 2.1. Полное наименование юридического лица.
  <br> 2.2. Почтовый адрес. (в случае несовпадения юридического и почтового адреса - обязательное указание юридического адреса).
  <br> 2.3. Сайт правообладателя в сети Интернет.
  <br> 2.4. Лицензия на право деятельности (если таковая деятельность лицензируется в установленном законом порядке).
  <br> 2.5. Контактное лицо правообладателя (ФИО, должность, телефон, email).
  <br> 3. Данные лица, подающего жалобу.
  <br> 3.1. ФИО.
  <br> 3.2. Должность.
  <br> 3.3. Телефон.
  <br> 3.4. email.
  <br> 3.5. Копия доверенности на действия от лица Правообладателя (не требуется в случае если лицо подающее жалобу - руководитель
  компании Правообладателя). Если жалобу подает не правообладатель, а его уполномоченный доверенностью представитель - юридическое
  лицо, следует предоставить копию доверенности на действия физического лица от лица компании, уполномоченной доверенностью
  Правообладателя (не требуется в случае, если лицо подающее жалобу - руководитель компании представителя).
  <br> 4. Претензионные данные.
  <br> 4.1. Адрес страницы сайта, которые содержат ссылки на данные, нарушающие права. Ссылка должна иметь вид audline.com/XXXXXX
  (где XXXXXX ваш поисковый запрос)
  <br> 4.2. Полное описание сути нарушения прав (почему распространение данной информации запрещено Правообладателем).
  <br>
  <hr> dmca@audline.net
</div>