<app-player [item]="lorem" (onChanged)="onChanged($event)"></app-player>
<app-leftmenu></app-leftmenu>
<div class="mine">
  <div class="collection">
    <div
    *ngFor="let i of playlist; let id = index;"
     class="collection-item"
     [ngClass] = "{'active' : i.isactive}"
    >
    <span class="play_button"  
    (click)="addtoPlayer(i,id)">
      <span class="glyphicon glyphicon-play"
        [ngClass] = "{'glyphicon-pause' : i.isactive}">
      </span>
    </span>
    <div class="track_info">
        <span class="track_name">{{i.name}}</span> <br>
       <span class="performer_name" ><a [routerLink]="['/band', i.performer_url]">{{i.performer_name}}</a></span>
     </div>
    </div>
    
  </div>
</div>
<app-bandinfo *ngIf="bandurl"></app-bandinfo>
<app-audioinfo *ngIf="!bandurl"></app-audioinfo>



