<app-player [item]="lorem" (onChanged)="onChanged($event)"></app-player>
<app-audioinfo *ngIf="!bandurl" (genre)="paylistByGengre($event)"></app-audioinfo>
<div class="mine">
  <div class="playlist_nav">
      <button class="playlist_button_panel" (click)="shuffle()"><span class="glyphicon glyphicon-sort-by-alphabet"></span></button>
      <button class="playlist_button_panel" (click)="shuffle()"><span class="glyphicon glyphicon-sort-by-order"></span></button>
      <button class="playlist_button_panel" (click)="shuffle()"><span class="glyphicon glyphicon-sort-by-attributes-alt"></span></button>
    <div class="playlist_nav_right">
        <button class="playlist_button_panel" (click)="listTo()"><span [ngClass] = "{'glyphicon-th-list' : !list}" class="glyphicon glyphicon-th glyphicon-th-list"></span></button>
        <button class="playlist_button_panel" (click)="shuffle()"><span class="glyphicon glyphicon-random"></span></button>
        <button class="playlist_button_panel" [ngClass] = "{'loop' : loop}" (click)="playerLoop()"><span class="glyphicon glyphicon-refresh"></span></button>
        <button class="playlist_button_panel" (click)="loadFromPlayer()"><span class="glyphicon glyphicon-minus"></span></button>

    </div>
    <div class="clear"></div>
  </div>
  <div class="collection" [class.list] = " list === !true" >
    <div
    *ngFor="let i of playlist; let id = index;"
     class="collection-item"
     [ngClass] = "{'active' : i.isactive}"
    >
    <span class="play_button"  
    (click)="addtoPlayer(i.id)">
      <span class="glyphicon glyphicon-play"
        [ngClass] = "{'glyphicon-pause' : i.isactive}">
      </span>
    </span>
    <div class="track_info">
        <span class="track_name">{{i.name}}</span>
        <span class="performer_name" >
          <a [routerLink]="['/band', i.performer_url]">{{i.performer_name}}</a>
          </span>
          <span class="time_track">{{i.duration | time }}</span>
          <span class="genre_track">{{i.genre}}</span>
          <span  (click)="likeTrack(i)"  [ngClass] = "{'liked' : i.liked}" class="like_track"><span class="glyphicon glyphicon-heart"></span></span>
     </div>
    </div>
  </div>
  <div *ngIf = "bandurl" class="video_blocks">
    <div class="video" (click)="showVideo('AFShDQEDpwA')">
      <img src="https://img.youtube.com/vi/AFShDQEDpwA/0.jpg" alt="">
    </div>
    <div class="video">
      <img src="https://img.youtube.com/vi/seFhoLRJziY/0.jpg" alt="">
    </div>
    <div class="video">
      <img src="https://img.youtube.com/vi/EQcA_2pcU3U/0.jpg" alt="">
    </div>
    <div class="video" (click)="showVideo('EQcA_2pcU3U')">
      <img src="https://img.youtube.com/vi/EQcA_2pcU3U/0.jpg" alt="">
    </div>


<div *ngIf="videoUrl" class="modal_box">
    <div class="modal_video_shadow" (click)="showVideo('')"></div>
    <div class="modal_video" (click)="showVideo('')">
        <div class="modal_video_container">
      <iframe [src]="videoUrl | safe" width="900" height="510"  frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>
  </div>

</div>



