.collection-item {
    display: block;
    padding: 10px 4px;
    margin: 10px 0px;
    transition: 0.3s;
    background: #e3f2fd;
}

.collection-item:hover {
    transition: 0.3s;
    cursor: pointer;
}


.performer_name {
    background: #2196f3;
    display: inline-block;
    color: #fff;
    padding: 6px 8px;
    margin: 0px;
    position: relative;
    min-width: 320px;
}

.track_name {
    display: inline-block;
    background: #e3f2fd;
    color: #000;
    padding: 6px 6px;
    margin: 0px;
    position: relative;
    min-width: 320px;

}
     


.collection-item:hover .track_name:before   {
    // border-left: 15px solid #bbdefb;
    // border-top: 15px solid #bbdefb;

    border-bottom: 20px solid #bbdefb;
    border-left: 20px solid #bbdefb;
    
}
.track_name:after {
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: block;
    // border: 15px solid transparent;
    // border-left: 15px solid #e3f2fd;
    // border-bottom: 15px solid #e3f2fd;
    border: 20px solid transparent;
    border-top: 20px solid #e3f2fd;
    border-right: 20px solid #e3f2fd;
    transition: 0.3s;
         
}

.collection-item:hover .track_name:after {
    // border-right: 15px solid #bbdefb;
    // border-bottom: 15px solid #bbdefb;
    border-top: 20px solid #bbdefb;
    border-right: 20px solid #bbdefb;
    
}


.active .track_name:before,   {
  border-bottom: 20px solid #90caf9;
         border-left: 20px solid #90caf9;
    
}

.active .track_name:after {
    border-top: 20px solid #90caf9;
    border-right: 20px solid #90caf9;
    
}




.play_button {
    background: #2196f3;
    padding: 16px 21px;
    border-radius: 5px;
    margin: 6px;
    vertical-align: middle;
    color: #fff;
    font-size: 27px;
//    box-shadow: 0px 0px 5px #0f69b1;
     transition: 0.3s;
}

.play_button:hover {
    box-shadow: 0px 0px 5px #0d273c;
    transition: 0.3s;
}

.track_info {
    display: inline-block;
    vertical-align: middle;
}

.active {
    background: #90caf9;
}

.right_menu_block {
    display: inline-block;
    width: 250px;
    position: relative;
}
.right_menu {
    min-height: 124px;
    position: fixed;
    margin-top: 50px;
    top: 0px;
    width: 250px;
    background: #e3f2fd;
}
.mine {
    display: inline-block;
    
}