<div class="scontainer">
  <div class="radio_page">
    <div class="srow">
      <div class="s12">
        <div class="buttons_nav" *ngIf="my_sts > 1">
          <button (click)="createPlaylistPopUp()">Создать Плейлист</button>
        </div>
      </div>
    </div>
    <div class="srow">
      <div class="s3 ssm12" *ngFor="let item of playlists; let id = index;">
        <div class="radio_item_box">
          <a class="radio_item" [routerLink]='"/set/" + item.url'>
            <div class="srow">
              <div class="s5 middle">
                <img src="{{item.img}}" alt="{{item.name}}">
              </div>
              <div class="s7 middle">
                <div class="info_playlist">
                  <span class="name">{{item.name}}</span>
                  <span *ngIf="item.tracks > 0" class="counte">{{item.tracks}}</span>
                  <span *ngIf="item.sts == 1" class="private">Приватный</span>
                  <!-- <span *ngIf="item.sts == 2" class="private">Открытый</span> -->
                </div>
              </div>
            </div>
          </a>
          <button *ngIf="my_sts > 1" class="edit_btn" (click)="createPlaylistPopUp(item)">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="popOver" *ngIf="createPlaylist">
  <div class="popOver_content">
    <div class="close" (click)="closePopUp()">
      <i class="far fa-times-circle"></i>
    </div>
    <form (ngSubmit)="send(addPlaylist); addPlaylist.reset();" class="playlistService" #addPlaylist="ngForm">
      <input type="text" placeholder="Название плейлиста" name="name" [(ngModel)]="name">
      <input type="text" placeholder="Адерс Картинки" name="img" [(ngModel)]="img">
      <input type="text" placeholder="Заголовок SEO" name="title" [(ngModel)]="title">
      <textarea name="description" id="" cols="30" rows="10" [(ngModel)]="description"></textarea>
      <input *ngIf="playlist_id" type="text" placeholder="ID" name="id" [(ngModel)]="playlist_id">
      <button type="submit">{{playlist_id ? 'Обновить' : 'Создать' }}</button>
    </form>
  </div>
</div>