.radio_page {  
}

.radio_item {
    display: inline-block;
    padding: 10px 4px;
    border: 1px solid #eee;
    transition: 0.3s;
    background: #fff;
    text-align: left;
    text-decoration: none;
    position: relative;
    width: 100%;


    @media screen and (max-width: 768px) {
        padding: 2px;
        margin: 2px;
    }


    img {
        max-width: 110px;

        @media screen and (max-width: 768px) {
            max-width: 80px;
        }
    }
}

.radio_item_box {
    padding: 4px;
}



.play_button {
    background: #2196f3;
    border-radius: 5px;
    margin: 6px;
    padding: 10px 26px;
    border: 0px;
    vertical-align: middle;
    color: #fff;
    cursor: pointer;
    font-size: 27px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.active {
    background: #e53935;
}

.counte {
    position: absolute;
    right: 12px;
    top: 5px;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.buttons_nav {
    padding: 8px 5px;
    text-align: left;

    button {
        border-radius: 4px;
        padding: 3px 8px;
        font-size: 18px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        background: #2196f3;
        border: 0px;
        color: #fff;
        transition: 0.3s;
    }
}


.info_playlist {
    position: relative;
    height: 110px;
    
}

.name {
    position: absolute;
    font-size: 14px;
    left: 13px;
    top: 28px;
    color: #2196f3;
    font-weight: 600;
}

.private {
    position: absolute;
    left: 4px;
    bottom: 0px;
    color: #000;
    font-size: 12px;
}
