.radio_page {  
}

.radio_item {
    display: inline-block;
    padding: 10px 4px;
    border: 1px solid #eee;
    transition: 0.3s;
    background: #fff;
    text-align: left;
    text-decoration: none;
    position: relative;
    width: 100%;


    @media screen and (max-width: 768px) {
        padding: 2px;
        margin: 2px;
    }


    img {
        max-width: 110px;

        @media screen and (max-width: 768px) {
            max-width: 80px;
        }
    }
}

.radio_item_box {
    padding: 4px;
}



.play_button {
    background: #2196f3;
    border-radius: 5px;
    margin: 6px;
    padding: 10px 26px;
    border: 0px;
    vertical-align: middle;
    color: #fff;
    cursor: pointer;
    font-size: 27px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.active {
    background: #e53935;
}

.counte {
    position: absolute;
    right: 12px;
    top: 5px;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.buttons_nav {
    padding: 8px 5px;
    text-align: left;

    button {
        border-radius: 4px;
        padding: 3px 8px;
        font-size: 18px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        background: #2196f3;
        border: 0px;
        color: #fff;
        transition: 0.3s;
    }
}


.info_playlist {
    position: relative;
    height: 110px;
    
}

.name {
    position: absolute;
    font-size: 14px;
    left: 13px;
    top: 28px;
    color: #2196f3;
    font-weight: 600;
}

.private {
    position: absolute;
    left: 4px;
    bottom: 0px;
    color: #000;
    font-size: 12px;
}






.popOver {
    display: block;
    transition: 0.2s;
    z-index: 400;
    z-index: 1002;
    position: fixed;
    top:10%;
    width: 100%;
    padding: 8px;
    left: 0px;
    
    .popOver_content {
        background: #fff;
        box-shadow: 0px 0px 3px #292e34;
        padding:20px 20px;
        max-width: 400px;
        margin: auto;
        transition: 0.2s;
        position: relative;
        z-index: 400;
        min-height: 150px;
        border-radius: 4px;
        text-align: left;
        padding-top: 50px;
     

        button {
            padding: 4px 8px;
            background: #2196f3;
            color: #fff;
            font-size: 16px;
            border: 0px;
            border-radius: 3px;
            // margin: 0px 4px;
            margin-top: 10px;
            margin-right: 10px;
            min-width: 120px;
            text-align: center;
          
        }

        .remove {
            background: #e53935;
        }



    }

    .close {
        position: absolute;
        right: 17px;
        top: 17px;
        color: #000;
        font-size: 32px;
        z-index: 401;
    }

    @media screen and (max-width: 768px) {
     
       
    
    }

    
}

.playlistService {

    input[type=text] {
        width: 100%;
        margin: 10px 0px;
        padding: 4px;
        display: block;
    }
    
    textarea {
        width: 100%;
        margin: 10px 0px;
        padding: 4px;
        display: block;
    }
}

.popOver::before {
    content: "";
    position: fixed;
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 300;
}

