<div class="right_menu_box">
    <div class="right_menu">
      <h3>Filters</h3>
      <div class="filer_buttons">
          <button class="nav_button">New</button>
          <button class="nav_button">Hot</button>
          <button class="nav_button">Random</button>
      </div>
      <hr>
      <h3>Genres</h3>
      <div class="filer_buttons genres">
          <button class="nav_button">Pop</button>
          <button class="nav_button">Rock</button>
          <button class="nav_button">Metal</button>
          <button class="nav_button">Rap</button>
          <button class="nav_button">Indi</button>
          <button class="nav_button">Electro</button>
          <button class="nav_button">K-Pop</button>
      </div>
      <a [routerLink]="['/search']" [queryParams]="{search:'vivi'}">vivi</a>
      <a [routerLink]="['/search']" [queryParams]="{search:'я'}">я</a>
    </div>
  </div>