
.right_menu_box {
    display: inline-block;
    max-width: 320px;
    vertical-align: top;
    margin-top: 10px;

    @media screen and (max-width: 768px) {
        display: none;
      }
}

.right_menu {
    min-height: 124px;
    background: #fff;
    padding: 4px;
}

.right_menu img {
    max-width: 100%;
}

.video_blocks{
text-align: center;
}

.video {
    display: inline-block;
    width: 95%;
}

.filer_buttons {
    text-align: justify;
    margin: 20px 0px;
}

.nav_button {
    background: #2196f3;
    color: #fff;
    border: 0px;
    padding: 6px 6px;
    margin: 4px;
    width: 67px;
    transition: 0.3s;
}

.nav_button:hover {
    background: #1976d2;
    transition: 0.3s;
}
