<app-player [item]="lorem" (onChanged)="onChanged($event)"></app-player>

<app-audioinfo  (genre)="paylistByGengre($event)"></app-audioinfo>
<div class="mine">
  <div class="playlist_nav">
      <button class="playlist_button_panel" (click)="shuffle()"><span class="glyphicon glyphicon-sort-by-alphabet"></span></button>
      <button class="playlist_button_panel" (click)="shuffle()"><span class="glyphicon glyphicon-sort-by-order"></span></button>
      <button class="playlist_button_panel" (click)="shuffle()"><span class="glyphicon glyphicon-sort-by-attributes-alt"></span></button>
    <div class="playlist_nav_right">
        <button class="playlist_button_panel" (click)="listTo()"><span [ngClass] = "{'glyphicon-th-list' : !list}" class="glyphicon glyphicon-th glyphicon-th-list"></span></button>
        <button class="playlist_button_panel" (click)="shuffle()"><span class="glyphicon glyphicon-random"></span></button>
        <button class="playlist_button_panel" (click)="shuffle()"><span class="glyphicon glyphicon-repeat"></span></button>
        <button class="playlist_button_panel" (click)="loadFromPlayer()"><span class="glyphicon glyphicon-share-alt load_play_list"></span></button>

    </div>
    <div class="clear"></div>
  </div>
  <div class="collection" [class.list] = " list === true" >
        <a class="item"
        *ngFor="let i of bands; let id = index;"
        [routerLink]="['/band', i.url]">
    <div>
    <span class="item_img">{{i.name[0]}}</span>
    {{i.name}}
    </div>
    </a>
  </div>


</div>



