.player_box {
    float: right;
  
    @media screen and (max-width: 1024px) {
      float: none;


  }
  }
  .player {
      position: fixed;
      top: 9px;
      margin-left: -437px;
      z-index: 101;
  
  
      @media screen and (max-width: 1024px) {
          margin-left: 0px;
          bottom: 0;
          top: auto;
          width: 100%;
          background: #fff;
          padding: 4px;
      }

      @media screen and (max-width: 768px) {

        width: 98%;
        border-top: 1px solid #c0c0c0;

      }
      
  }
  
  .player_track_name {
      padding: 4px;
      text-align: left;
      border: 1px solid silver;
      display: inline-block;
      vertical-align: middle;
      min-height: 31px;
      border-radius: 4px;
      width: 325px;
      position: relative;
      z-index: 2;
      cursor: pointer;
  
      @media screen and (max-width: 768px) {
          width: 99%;
          height: 30x;
          margin: 4px 0px;
          border-radius: 0px;
          margin: auto;
          display: block;
          margin: 4px 2px;
      }
  }
  
  .track_name_text {
      position: absolute;
      color: #000;
      z-index: 3;
      height: 22px;
      overflow: hidden;
    
      @media screen and (max-width: 768px) {
   
          line-height: 24px;
          vertical-align: middle;
    
      }
  }
  
  .player_time_progress {
      position: absolute;
      background: #2196f3;
      width: 0%;
      height: 100%;
      left: 0px;
      top: 0px;
      z-index: 1;
  }
  
  .playbutton_play {
      border-radius: 4px;
      padding: 3px 8px;
      display: inline-block;
      vertical-align: middle;
      background: #2196f3;
      border: 0px;
      font-size: 18px;
      transition: 0.3s;
      color: #fff;
  
      @media screen and (max-width: 768px) {
          width: 31%;
          height: 32px;
        border-radius: 0px;
        font-size: 27px;
        padding: 0px;
      }
  }
  
  .player_button {
      border-radius: 4px;
      padding: 3px 8px;
      font-size: 18px;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      background: #2196f3;
      border: 0px;
      color: #fff;
      transition: 0.3s;
  
      @media screen and (max-width: 768px) {
          width: 33%;
          height: 32px;
        border-radius: 0px;
        font-size: 22px;
        padding: 0px;
      }
  }
  
  .player_button:hover, .playbutton_play:hover {
      background: #1976d2;
      transition: 0.3s;
  }


